@model MyDoctor.Models.Commentfordoctorpost

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commentfordoctorpost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.containt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.containt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
