@using PagedList.Core.Mvc
@model SearchResult<Doctor>
@inject ICategoryRepository CategoryRepository
@inject IViewLocalizer ViewLocalizer
<!--**********************************
          Content body start
      ***********************************-->
<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewLocalizer["Control Panel"]</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">@ViewLocalizer["Doctor"]</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        @await Html.PartialAsync("_Message")
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="outline-button">

                            <button type="button" class="btn mb-1 btn-flat btn-outline-primary" data-toggle="modal" data-target="#exampleModal"><img src="~/Content/img/plus.svg" style="max-width:25px" /></button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createFrom">@ViewLocalizer["From"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateFrom"/>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["To"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateTo" />
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="IdRelated">@ViewLocalizer["Category"]</label>
                                        <select name="IdRelated" class="form-control" asp-items="@(new SelectList(CategoryRepository.GetAll(),"Id","Category",Model.SearchParamter.IdRelated))">

                                            <option disabled selected> -- @ViewLocalizer["select an option"] -- </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["Name"]</label>
                                        <input name="searchQuery" type="text" class="form-control" id="validationCustom01" value="@Model.SearchParamter.SearchQuery" placeholder="Search">
                                    </div>
                                    <div class="col-lg-12 col-md-6 text-center">

                                        <button class="btn btn-dark mt-2" type="submit"><i style="font-size:20px" class="mdi mdi-magnify"></i></button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                        <tr>

                                            <th>
                                                @ViewLocalizer["Name"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Category"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Email"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Telephone"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Password"]
                                            </th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ItemsList)
                                        {
                                            <tr>
                                                <td><img src="/images/@item.ImagePath" class=" rounded-circle mr-3" alt="">@item.Name</td>

                                                <td>
                                                    @item.Category.Category
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.Telephone
                                                </td>
                                                <td>
                                                    @item.Password
                                                </td>
                                                <td>

                                                    <button class="btn btn-outline-light" onclick="editCategory(@item.ToJson("Doctors"))"><img src="~/Content/img/edit.png" style="max-width:20px" /></button>
                                                    <form asp-action="Delete" id="deleteCategory" style="display: inline-block">
                                                        <input name="id" value="@item.Id" style="display: none" />
                                                        <button class="btn btn-outline-light" type="submit"><img src="~/Content/img/delete.png" style="max-width:20px" /></button>
                                                    </form>

                                                </td>

                                            </tr>


                                        }

                                    </tbody>
                                </table>
                                <p><pager class="pager-container" list="@new StaticPagedList<Doctor>(Model.ItemsList,Model.SearchParamter.Page.Value,Model.SearchParamter.PageSize, Model.SearchParamter.TotalCount)" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="Category" asp-route-query="@Model.SearchParamter.SearchQuery" asp-route-createFrom="@Model.SearchParamter.CreateFrom" asp-route-createTo="@Model.SearchParamter.CreateTo" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
<section>
    @await Html.PartialAsync("_CreateEdit", new Doctor())
</section>
@section Scripts
{
    <script>


        function editCategory(doctor) {

            $('#Id').val(doctor.Id);
            $('#ImagePath').val(doctor.ImagePath);
            $('#Email').val(doctor.Email);
            $('#Password').val(doctor.Password);
            $('#ConfirmPassword').val(doctor.ConfirmPassword);
            $('#Others').val(doctor.Others);
            $('#Telephone').val(doctor.Telephone);
            $('#Country').val(doctor.Country);
            $('#City').val(doctor.City);
            $('#Name').val(doctor.Name);
            $('#ImagePath').val(doctor.ImagePath);
            $("#CategoryId option").each(function () {
                if ($(this).val() == doctor.CategoryId) {
                    $(this).attr("selected", "selected");
                }

            });
            $("#Kind option").each(function () {
                if ($(this).val() == doctor.Kind) {
                    $(this).attr("selected", "selected");
                }

            });
            $('#exampleModal').modal('show');
        }
        $("#CountryList").change(function () {
            if ($(this).data('options') === undefined) {
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
                $(this).data('options', $('#CityList option').clone());
            }
            var id = $(this).val();
            var options = $(this).data('options').filter('[value=' + id + ']');
            $('#CityList').html(options);
        });



    </script>
    <script src="/js/NotifiyDelete.js"></script>
    <script src="/js/ClearModal.js"></script>
    <script src="/js/FormsValidation.js"></script>
}

