@using PagedList.Core.Mvc
@model SearchResult<Medicin>
@inject IViewLocalizer ViewLocalizer
<!--**********************************
          Content body start
      ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewLocalizer["Control Panel"]</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">@ViewLocalizer["Medicin"]</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        @await Html.PartialAsync("_Message")
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="outline-button">

                            <button type="button" class="btn mb-1 btn-flat btn-outline-primary" data-toggle="modal" data-target="#exampleModal"><img src="~/Content/img/plus.svg" style="max-width:25px" /></button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createFrom">@ViewLocalizer["From"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateFrom"/>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["To"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateTo" />
                                        
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["Name"]</label>
                                        <input class="form-control" asp-for="SearchParamter.SearchQuery" placeholder="Search">
                                    </div>
                                    <div class="col-lg-12 col-md-6 text-center">

                                        <button class="btn btn-dark mt-2" type="submit"><i style="font-size:20px" class="mdi mdi-magnify"></i></button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                @ViewLocalizer["Name"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Affects"]
                                            </th>

                                            <th>
                                                @ViewLocalizer["Indications"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Category"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["Price"]
                                            </th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ItemsList)
                                        {
                                            <tr>
                                                <td><img src="@item.Image" class=" rounded-circle mr-3" alt="">@item.Name</td>

                                                <td>
                                                    @item.Affects.MaxString(50, "......")
                                                </td>

                                                <td>
                                                    @item.Indications.MaxString(50, ".....")
                                                </td>
                                                <td>
                                                    @item.BeatyandHealthy.Category
                                                </td>
                                                <td>
                                                    @item.Price
                                                </td>
                                                <td>

                                                    <button class="btn btn-outline-light" onclick="editCategory('@item.ToJson("Medicins")')"><img src="~/Content/img/edit.png" style="max-width:20px" /></button>
                                                    <form asp-action="Delete" id="deleteCategory" style="display: inline-block">
                                                        <input name="id" value="@item.Id" style="display: none" />
                                                        <button class="btn btn-outline-light" type="submit"><img src="~/Content/img/delete.png" style="max-width:20px" /></button>
                                                    </form>

                                                </td>

                                            </tr>


                                        }

                                    </tbody>
                                </table>
                                <p><pager class="pager-container" list="@new StaticPagedList<Medicin>(Model.ItemsList,Model.SearchParamter.Page.Value,Model.SearchParamter.PageSize, Model.SearchParamter.TotalCount)" options="@PagedListRenderOptions.Bootstrap4Full" asp-action="Index" asp-controller="Category" asp-route-query="@Model.SearchParamter.SearchQuery" asp-route-createFrom="@Model.SearchParamter.CreateFrom" asp-route-createTo="@Model.SearchParamter.CreateTo" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

<section>
    @await Html.PartialAsync("_CreateEdit", new Medicin())
</section>
@section Scripts
    {
    <script>


        function editCategory(diseasejson) {
            var disease = JSON.parse(diseasejson);
            console.log(disease);
            $('#Id').val(disease.Id);
            $('#Image').val(disease.Image);
            $('#Affects').val(disease.Affects);
            $('#Name').val(disease.Name);
            $('#CreateDate').val(disease.CreateDate);
            $('#Price').val(disease.Price);
            $('#Indications').val(disease.Indications);
            $("#BeatyandHealthId option").each(function () {
                if ($(this).val() == disease.BeatyandHealthId) {
                    $(this).attr("selected", "selected");
                }

            });
            if (disease.DiseaseMedicins) {
                $("input[name='DiseaseMedicins']").each(function () {
                    var diseasesId = disease.DiseaseMedicins.map(dm => dm.DiseaseId);
                    if (diseasesId.includes(+$(this).val())) {
                        console.log('checked');
                        $(this).attr("checked", "checked");
                    }

                });
            }

            $('#exampleModal').modal('show');
        }


    </script>
    <script src="/js/NotifiyDelete.js"></script>
    <script src="/js/ClearModal.js"></script>
    <script src="/js/FormsValidation.js"></script>
}
