@model MyDoctor.Models.Posts

@{
    ViewData["Title"] = "Details";
}



<input type="text" id="postid" style="display:none" value="@Model.Id" />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Specific</h6>
    </div>
    <div class="card-body">
        <p>
            @Model.Description
        </p>
    </div>
</div>



    

   
    <table class="row mt-5 mt-5">
        <tr>
            <td colspan="2">
                <button class="btn btn-primary"><a style="color:white" asp-route-doctorid="@Model.DoctorId" asp-action="Create" asp-route-id="@Model.Id" asp-controller="Commentfordoctorposts">Add Comment</a></button>
            </td>
            <td colspan="2"> <button id="loadcomment" class="btn btn-primary">Show Comment</button></td>
        </tr>
    </table>

    <div class="comments row mt-5 ">

    </div>
@section Scripts
{
    <script>
        $(document).ready(function () {


            $("#loadcomment").on("click", function () {
                var inputvalue = $("#postid").val();
                console.log(inputvalue);
                $(this).hide();
                $.ajax({
                    url: "/Commentfordoctorposts/Details/" + inputvalue,
                    type: "Get",
                    success: function (resuilt) {
                        
                        $.each(resuilt, function (index, value) {
                           
                            $.ajax({
                                url: "/Users/GetUser?id=" + value.userid,
                               
                                success: function (user) {

                                    $(".comments").append(
                                        ` <a class="dropdown-item d-flex align-items-center mb-4 col-12" href="#">
                                                    <div class="mr-3">
                                                        <div class="icon-circle bg-primary">

                                                            <img class="img-profile rounded-circle" style="max-width: 50px;" src="/images/${user.imagePath}">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="small text-gray-500">${ user.userName}</div>
                                                        <span class="font-weight-bold">${value.containt}</span>
                                                    </div>
                                                </a>`);
                                }
                            });
                            console.log(resuilt);

                        });





                    },
                    Error: function () {
                        $(".comments").append(eval("<div>Error</div>"));
                    }
                });

            });

        });
    </script>
}
