@model MyDoctor.Models.BeatyandHealthy
@{
    ViewData["Title"] = "Details";
}
<input style="display:none" class="BeatyandHealthyId" value="@Model.Id" />
<input style="display:none" id="BeatyandHealthyCatagory" value="@Model.Category" />
<div class="row">
    <div class="col-lg-8 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@Model.Category</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="@Model.Image" alt="">
                </div>

            </div>
        </div>



    </div>
    <div class="col-lg-4 mb-4">

        <div class="list">
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=2" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">الريجيم وتخفيف الوزن</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=3" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">التغذية السليمة</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=1" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">الرياضة والرشاقة</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=4" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">الحياة الزوجية</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=5" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">العناية بالشعر</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=6" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">العناية بالبشرة والجمال</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=7" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">جودة الحياة</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=8" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">الجيل الذهبي</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=9" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">وصفات صحية</span>
            </a>
            <div class="my-2"></div>
            <a href="/BeatyandHealthies/Details?id=10" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">القيم الغذائية للمأكولات</span>
            </a>
         
        </div>



    </div>
</div>

<div class="row RelativeBeatyandHealthies">

</div>

<h2>Relative Subject</h2>
<div class="row" id="RelativeSubjecttoHealthyandbeaty">

</div>
@section Scripts{
    <script>
       
        $(document).ready(function() {

            var styleSubject = (value) => {
                var style = ` <div class="col-lg-4 mb-4">


                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">@Model.Category</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="${value.imageOrvideo}" alt="">
                                   <p>${value.address}</p>
                                </div>
                                <a href="/updateRelativeBeatyandHealthies/Details/${value.id}">See More &rarr;</a>
                            </div>
                        </div>



                    </div>`;
                return style;
            }
            var loadSubject = () => {
                var diseaseId = $(".BeatyandHealthyId").val();
                $.ajax({
                    url: `/updateRelativeBeatyandHealthies/Index?id=${diseaseId}`,
                    method: 'Get',
                    success: function(data) {

                        $.each(data,
                            function(index, value) {

                                if (!value) {
                                    $(".RelativeBeatyandHealthies").append("<div class='card-panel hoverable'>No RelativeData</div>");
                                } else {
                                    $(".RelativeBeatyandHealthies").append(styleSubject(value));
                                }

                            });

                    }

                });
            }
            var styleRelativeSubject = (value) => {
                var style = ` <div class="col-lg-4 mb-4">


                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="text-center">

                                               <p>${value.description}</p>
                                            </div>
                                            <a href="/Posts/Details/${value.id}">See More &rarr;</a>
                                        </div>
                                    </div>



                                </div>`;
                return style;
            }
            var loadRelativeTopic = () => {
                var beatyandhealthcatagory = $('#BeatyandHealthyCatagory').val();

                $.ajax({
                    url: `/GetRelativeSubject/Index?relativeitem=${beatyandhealthcatagory}`,
                    type: "Get",
                    success: function(data) {

                        $.each(data,
                            function(index, value) {
                                $("#RelativeSubjecttoHealthyandbeaty").append(styleRelativeSubject(value));
                            });
                    }
                });
            }
            // Load The Topic
            loadSubject();
            //Load Relative Subject
            loadRelativeTopic();


        });

    </script>
}

