

@using MyDoctor.IRepository
@model MyDoctor.Models.RelativeofBeatyandhealthy
@inject ICategoryRepository CategoryRepository
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Relative Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="CreateEdit" id="CreateEdit">
                    <div class="form-group" style="display: none">
                        
                        <input asp-for="Id" value="@Model.Id">
                    </div>
                    <div class="form-group">
                        <label for="" class="col-form-label">Address</label>
                        <input asp-for="Address" value="@Model.Address" type="url" class="form-control">
                    </div>
                    <div class="form-group" style="display: none">
                        <input name="CreateDate" type="text" class="form-control" id="CreateDate" value="">
                    </div>
                    <div class="form-group">
                        <label for="BeatyandHealthId" class="col-form-label">Category</label>
                        
                        <select asp-for="BeatyandHealthId" class="form-control">

                            @foreach (var category in await CategoryRepository.GetAllAsync())
                            {

                                <option   value="@category.Id" label="@category.Category"></option>

                            }
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="ImageOrVideo" class="col-form-label">Media Url</label>
                        <input asp-for="ImageOrVideo" value="@Model.ImageOrVideo" type="url" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Subject" class="col-form-label">Subject</label>
                        <textarea type="text" class="form-control" asp-for="Subject">
                              @Model.Subject
                        </textarea>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="document.getElementById('CreateEdit').submit()">Save</button>
            </div>
        </div>
    </div>
</div>


