@model SearchResult<RelativeofBeatyandhealthy>
@inject ICategoryRepository CategoryRepository
@inject IViewLocalizer ViewLocalizer
@{ Layout = null;}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="active-member">
                <div class="table-responsive">
                    <table class="table table-xs mb-0">
                        <thead>
                            <tr>
                                <th>
                                    @ViewLocalizer["Address"]
                                </th>

                                <th>
                                    @ViewLocalizer["Category"]
                                </th>
                                <th>
                                    @ViewLocalizer["Content"]
                                </th>
                                <th>
                                    @ViewLocalizer["CreateDate"]
                                </th>
                                <th>
                                    @ViewLocalizer["ModifiyDate"]
                                </th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ItemsList)
                            {
                                <tr>
                                    <td><img src="@item.ImageOrVideo" class=" rounded-circle mr-3" alt="">@item.Address</td>

                                    <td>
                                        @item.BeatyandHealthy.Category
                                    </td>
                                    <td>

                                        @item.Subject.MaxString(100, "See More")


                                    </td>
                                    <td>
                                        @if (item.CreateDate.HasValue)
                                        {
                                            @item.CreateDate.Value.ToShortDateString()
                                        }

                                    </td>
                                    <td>
                                        @if (item.ModiteDate.HasValue)
                                        {
                                            @item.ModiteDate.Value.ToShortDateString()
                                        }
                                    </td>
                                    <td>

                                        <button class="btn btn-outline-light" onclick="showInPopup('@Url.Action("CreateEdit","CategoryRelativies",new {id=item.Id},Context.Request.Scheme)','Update Relative Department')"><img src="~/Content/img/edit.png" style="max-width:20px" /></button>
                                        <form asp-action="Delete" onsubmit="return jQueryAjaxDelete(this);" id="deleteCategory" style="display: inline-block">
                                            <input name="id" value="@item.Id" style="display: none" />
                                            <button class="btn btn-outline-light" type="submit"><img src="~/Content/img/delete.png" style="max-width:20px" /></button>
                                        </form>

                                    </td>

                                </tr>


                            }

                        </tbody>
                    </table>
                    <p><pager class="pager-container" list="@new StaticPagedList<RelativeofBeatyandhealthy>(Model.ItemsList,Model.SearchParamter.Page.Value,Model.SearchParamter.PageSize, Model.SearchParamter.TotalCount)" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="Category" asp-route-query="@Model.SearchParamter.SearchQuery" asp-route-createFrom="@Model.SearchParamter.CreateFrom" asp-route-createTo="@Model.SearchParamter.CreateTo" asp-route-beatyandHealthId="@Model.SearchParamter.IdRelated" /></p>
                </div>
            </div>
        </div>
    </div>
</div>
