@model SearchResult<RelativeofBeatyandhealthy>
@inject ICategoryRepository CategoryRepository
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Index";
}
<!--**********************************
          Content body start
      ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewLocalizer["Control Panel"]</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">@ViewLocalizer["Relative Departments"]</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="outline-button">

                            <button type="button" class="btn" onclick="showInPopup('@Url.Action("CreateEdit","CategoryRelativies",null,Context.Request.Scheme)','Create Relative Department')"><img src="~/Content/img/plus.svg" style="max-width:25px" /></button>
                            <a class="btn" asp-action="ExportToExcel" asp-route-SearchQuery="@Model.SearchParamter.SearchQuery" asp-route-CreateFrom="@Model.SearchParamter.CreateFrom" asp-route-CreateTo="@Model.SearchParamter.CreateTo" target="_blank"><img src="~/Content/img/excel.png" style="max-width:25px" /></a>
                            <a class="btn" asp-action="ExportToPDF" asp-route-SearchQuery="@Model.SearchParamter.SearchQuery" asp-route-CreateFrom="@Model.SearchParamter.CreateFrom" asp-route-CreateTo="@Model.SearchParamter.CreateTo" target="_blank"><i class="fas fa-file-pdf"></i></a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createFrom">@ViewLocalizer["From"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateFrom" />
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["To"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateTo" />
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="">@ViewLocalizer["Address"]</label>
                                        <input class="form-control" asp-for="SearchParamter.SearchQuery" placeholder="Search">
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="BeatyandHealthId">@ViewLocalizer["Category"]</label>
                                        <select asp-for="SearchParamter.IdRelated" class="form-control" asp-items="@(new SelectList(CategoryRepository.GetAll().ToList(),"Id","Category",Model.SearchParamter.IdRelated))">
                                        </select>
                                    </div>

                                    <div class="col-lg-12 col-md-6 text-center">

                                        <button class="btn btn-dark mt-2" type="submit"><i style="font-size:20px" class="mdi mdi-magnify"></i></button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/site.js"></script>
}
