
@model MyDoctor.Models.Doctor
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block">

               
                <img src="~/Content/img/63572996-health-logo-template.jpg" style="max-width: 350px;" />




            </div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">@Model.Name</h1>
                    </div>
                    <form class="user" asp-action="Create" id="CreateCatagory">
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Specific</span>
                                </div>
                                <input type="text" class="form-control" readonly placeholder="Username" value="@Model.Specials" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Description</span>
                                </div>
                                <input type="text" class="form-control" readonly placeholder="Username" value="@Model.Others" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Country</span>
                                </div>
                                <input type="text" class="form-control" readonly placeholder="Username" value="@Model.Country" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div> <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">City</span>
                                </div>
                                <input type="text" class="form-control" readonly placeholder="Username" value="@Model.City" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Telephone Number</span>
                                </div>
                                <input type="text" class="form-control" readonly placeholder="Username" value="@Model.Telephone" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Email</span>
                                </div>
                                <input type="email" class="form-control" readonly placeholder="Username" value="@Model.Email" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        @if (User.Identity.Name == Model.Email)
                        {
                            <a asp-action="Create" asp-controller="Posts" asp-route-id="@Model.Id" class="btn btn-primary btn-user btn-block">Add Post</a>
                        }



                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model.Posts)
    {
        <div class="col-lg-4 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">@item.Specific</h6>
                </div>
                <div class="card-body">


                    <p>@item.Description</p>

                    <a asp-route-doctorid="@item.DoctorId" asp-action="Create" asp-route-id="@item.Id" asp-controller="Commentfordoctorposts">Add Comment</a>
                    <hr />
                    <a  asp-action="Details" asp-route-id="@item.Id" asp-controller="Posts">Show Comment</a>
                </div>
            </div>



        </div>








    }
</div>


