@using MYDoctor.Core.Domain.Entities
@using MYDoctor.Core.Application.Common.Search
@model SearchResult<BeatyandHealthy>
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Departments";


}
<!--**********************************
          Content body start
      ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewLocalizer["Control Panel"]</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">@ViewLocalizer["Departments"]</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        @await Html.PartialAsync("_Message")
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="outline-button">

                            <button type="button" class="btn mb-1 btn-flat btn-outline-primary" data-toggle="modal" data-target="#exampleModal"><img src="~/Content/img/plus.svg" style="max-width:25px" /></button>

                            <a class="btn mb-1 btn-flat btn-outline-success" asp-action="ExportToExcel" asp-route-SearchQuery="@Model.SearchParamter.SearchQuery" asp-route-CreateFrom="@Model.SearchParamter.CreateFrom" asp-route-CreateTo="@Model.SearchParamter.CreateTo" target="_blank"><img src="~/Content/img/excel.png" style="max-width:25px" /></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="basic-form">
                            <form>
                                <div class="form-row">
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createFrom">@ViewLocalizer["From"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateFrom"/>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["To"]</label>
                                        <input class="form-control" type="date" asp-for="SearchParamter.CreateTo" />
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <label for="createTo">@ViewLocalizer["Category"]</label>
                                        <input name="SearchQuery" type="text" class="form-control" id="validationCustom01" value="@Model.SearchParamter.SearchQuery" placeholder="Search">
                                    </div>
                                    <div class="col-lg-12 col-md-6 text-center">

                                        <button class="btn btn-dark mt-2" type="submit"><i style="font-size:20px" class="mdi mdi-magnify"></i></button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                @ViewLocalizer["Category"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["CreateDate"]
                                            </th>
                                            <th>
                                                @ViewLocalizer["ModifiyDate"]
                                            </th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ItemsList)
                                        {
                                            <tr>
                                                <td><img src="@item.Image" class=" rounded-circle mr-3" alt="">@item.Category</td>

                                                <td>
                                                    <span>
                                                        @if (item.CreateDate.HasValue)
                                                        {
                                                            @item.CreateDate.Value.ToShortDateString()
                                                        }
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        @if (item.CreateDate.HasValue)
                                                        {
                                                            @item.CreateDate.Value.ToShortDateString()
                                                        }
                                                    </span>
                                                </td>
                                                <td>

                                                    <button class="btn btn-outline-light" onclick="editCategory({Id:@item.Id,Image:'@item.Image',Catagory:'@item.Category',CreateDate:'@item.CreateDate'})"><img src="~/Content/img/edit.png" style="max-width:20px" /></button>
                                                    <form asp-action="Delete" id="deleteCategory" style="display: inline-block">
                                                        <input name="id" value="@item.Id" style="display: none" />
                                                        <button class="btn btn-outline-light" type="submit"><img src="~/Content/img/delete.png" style="max-width:20px" /></button>
                                                    </form>

                                                </td>

                                            </tr>


                                        }

                                    </tbody>
                                </table>
                                <p><pager class="pager-container" list="@new StaticPagedList<BeatyandHealthy>(Model.ItemsList,Model.SearchParamter.Page.Value,Model.SearchParamter.PageSize, Model.SearchParamter.TotalCount)" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="Category" asp-route-SearchQuery="@Model.SearchParamter.SearchQuery" asp-route-CreateFrom="@Model.SearchParamter.CreateFrom" asp-route-CreateTo="@Model.SearchParamter.CreateTo" /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->

<section>
    @await Html.PartialAsync("_CreateEdit", new BeatyandHealthy())
</section>

@section Scripts
{
    <script>


        function editCategory(category) {
            $('#id-name').val(category.Id);
            $('#category-name').val(category.Catagory);
            $('#image-name').val(category.Image);
            $('#CreateDate').val(category.CreateDate);
            $('#exampleModal').modal('show');
        }




    </script>
    <script src="/js/NotifiyDelete.js"></script>
    <script src="/js/ClearModal.js"></script>
    <script src="/js/FormsValidation.js"></script>
}
