
@using MyDoctor.Models
@using PagedList.Core.Mvc
@model MyDoctor.Areas.Admin.Models.SearchResult<BeatyandHealthy>

@{
    ViewData["Title"] = "Index";

    await Html.RenderPartialAsync("_Message");
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create</button>
<form class="needs-validation" novalidate>

    <fieldset class="form-row">
        <legend>Create Date</legend>
        <div class="col-md-6 mb-3">
            <label for="createFrom">From</label>
            <input type="date" class="form-control" id="createFrom" name="createFrom">

        </div>
        <div class="col-md-6 mb-3">
            <label for="createTo">To</label>
            <input type="date" class="form-control" id="createTo" name="createTo">
        </div>
    </fieldset>



    <div class="form-row">
        <div class="col-md-6 mb-3">

            <input name="query" type="text" class="form-control" id="validationCustom01" value="@Model.SearchQuery" placeholder="Search">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>



</form>
<a class="btn btn-facebook" asp-action="ExportToExcel" asp-route-query="@Model.SearchQuery" asp-route-createFrom="@Model.CreateFrom" asp-route-createTo="@Model.CreateTo" target="_blank">ExportToExcel</a>
<table class="table" id="Category">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Category
            </th>
            <th>
                CreateDate
            </th>
            <th>
                ModifiyDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemsList)
        {
            <tr>

                <td>

                    <img src="@item.Image" class="img img-thumbnail" style="max-width: 150px;max-height: 150px" />
                </td>
                <td>
                    <h3>@item.Category</h3>

                </td>
                <td>
                    @if (item.CreateDate.HasValue)
                    {
                        @item.CreateDate.Value.ToShortDateString()
                    }

                </td>
                <td>
                    @if (item.ModifiedDate.HasValue)
                    {
                        @item.ModifiedDate.Value.ToShortDateString()
                    }
                </td>
                <td>

                    <button class="btn btn-primary" onclick="editCategory({Id:@item.Id,Image:'@item.Image',Catagory:'@item.Category',CreateDate:'@item.CreateDate'})">Edit</button>
                    <form asp-action="Delete" id="deleteCategory" style="display: inline-block">
                        <input name="id" value="@item.Id" style="display: none" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<section>
    @await Html.PartialAsync("_CreateEdit",new BeatyandHealthy())
</section>
<p><pager class="pager-container" list="@Model.ItemsList" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="Category" asp-route-query="@Model.SearchQuery" asp-route-createFrom="@Model.CreateFrom" asp-route-createTo="@Model.CreateTo" /></p>
@section Scripts
{
    <script>


        function editCategory(category) {
            $('#id-name').val(category.Id);
            $('#category-name').val(category.Catagory);
            $('#image-name').val(category.Image);
            $('#CreateDate').val(category.CreateDate);
            $('#exampleModal').modal('show');
        }
       
     

       
    </script>
    <script src="/js/NotifiyDelete.js"></script>
    <script src="/js/ClearModal.js"></script>
    <script src="/js/FormsValidation.js"></script>
}
